:root {
    /* Tokens core, são usados para as outras cores */

    /* Cores neutras */
    --black: #0D0D0D;
    --grey-1: #252525;
    --grey-2: #6E6E6E;
    --grey-3: #9E9E9E;
    --white: #FDFDFD;

    /* Cores primárias - Verde */
    --green-darker-2: #009952;
    --green-darker-1: #00CC6D;
    --green-base: #00FF88;
    --green-lighter-1: #33FFA0;
    --green-lighter-2: #66FFB8;


    /* Cores secundárias - Rosa */
    --pink-darker-2: #991C3B;
    --pink-darker-1: #CC254F;
    --pink-base: #FF2E63;
    --pink-lighter-1: #FF5882;
    --pink-lighter-2: #FF82A1;

    /* Use essas cores para definir as cores gerais do site */

    /* Background colors */
    --bg-dark: var(--black);
    --bg-light: var(--white);
    --bg-grey: var(--grey-1);
    --bg-grey-light: var(--grey-2);
    --bg-green: var(--green-base);
    --bg-pink: var(--pink-base);

    /* Text colors */
    --text-primary: var(--white);
    --text-secondary: var(--black);
    --text-muted: var(--grey-3);
    --text-subtle: var(--grey-2);
    --text-disabled: var(--grey-1);
    --text-highlight-green: var(--green-base);
    --text-highlight-pink: var(--pink-base);

    /* Border colors */
    --border-primary: var(--grey-2);
    --border-subtle: var(--grey-1);
    --border-focus: var(--green-base);

    /* Background colors específicos */
    --bg-input: var(--white);
    --bg-disabled: var(--grey-1);
}


input,
select,
textarea {
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #555;
}

.form-control,
.form-select,
.form-check-input {
    font-size: 16px;
    font-family: inherit;
}

textarea {
    height: 150px;
    resize: vertical;
}

.botao-enviar {
    background: var(--green-base);
    color: var(--black);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
    align-self: flex-start;
    margin-bottom: 40px;
    text-decoration: none;
}

.botao-enviar:hover {
    background: var(--green-lighter-1);
}