<nav>
        <div class="logo">
            <a href="index.html"><img src="assets/img/logo/logo-all-black.svg" alt="logo do site" /></a>
        </div>
        <ul class="nav justify-content-center">
            <li><a class="btn btn-link" href="../index.html" role="button">Inicio</a></li>
            <li><a class="btn btn-link" href="../pages/story-games.html" role="button">História dos Jogos</a></li>
            <li><a class="btn btn-link" href="../pages/platform.html" role="button">Plataforma</a></li>
            <li><a class="btn btn-primary" href="pages/forms.html" role="button">Inscreva-se</a></li>
        </ul>
</nav>