<nav class="navbar navbar-expand-lg navbar-bg fixed-top">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img src="assets/img/logo/logo-white.svg" alt="Happy Game" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/story-games.html">História</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/platform.html">Plataforma</a>
                </li>
                <li class="nav-item">
                    <a class="btn-navbar-cta" href="pages/forms.html">Inscreva-se</a>
                </li>
            </ul>
        </div>
    </div>
</nav>